/* General styles */

body {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 16px;
}

h1,
h2 {
  font-family: 'Oswald', sans-serif;
  margin: 0px;
  font-weight: 700;
  font-size: 3em;
  line-height: 64px;
}

h3 {
  font-family: 'Source Sans 3', sans-serif;
  margin: 0px;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 32px;
}

p {
  line-height: 22px;
}

button {
  cursor: pointer;
}

nav {
  display: flex;
  align-items: flex-end;
}

ul {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 0.9em;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

li a {
  padding-right: 26px;
  text-decoration: none;
  color: white;
}

li a:hover {
  text-decoration: solid underline 2px;
  text-underline-offset: 6px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  margin: 0 12.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;
}

/* Sections styles*/

.header {
  display: flex;

  flex-wrap: wrap;
  margin-top: 45px;

  justify-content: flex-start;
}

.nav-mobile {
  display: none;
}

.header > a {
  display: flex;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: white;

  flex: 0.54;
  padding-right: 10px;
}

.hero-section,
.main-section,
.culture-section,
.footer {
  color: white;
}

.hero-section {
  background-image: url('../assets/Welcome_background.jpg');
  height: 822px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-section {
  background-color: #eeeeee;
  color: #464547;
  height: 678px;
}

.culture-section {
  background-image: url('../assets/Lecture_background.jpg');
  background-color: hsla(23, 53%, 36%, 0.3);
  background-blend-mode: overlay;
  height: 637px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-section .container > div {
  margin-top: 212px;
}

.hero-section h3 {
  color: hsl(0, 0%, 70%);
  margin-top: 35px;
}

.main-section .container h2 {
  margin-top: 65px;
}

.main-section .container h3 {
  color: #666666;
  margin-top: 30px;
}

.main-section .container div {
  display: flex;
  justify-content: space-between;

  margin-top: 25px;
}

.main-section .container div p {
  width: 416px;
  text-align: left;
}

.main-section .container div:last-child {
  justify-content: center;
}

.main-section .container button {
  width: 115px;
  height: 36px;
  background-color: #55c2d8;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  border: none;
  border-radius: 18px;
}

.culture-section .container {
  align-items: center;
}
.culture-section .container h2 {
  margin-top: 80px;
}

.culture-section .container h3 {
  margin-top: 50px;
}

.culture-section .container button {
  margin-top: 45px;

  padding-left: 20px;
  height: 150px;
  width: 150px;
  background-color: #55c2d8;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 4em;
}

/* Footer */

.footer {
  height: 200px;

  background-color: #464547;

  color: hsl(0, 0%, 50%);
  font-size: 1em;
  line-height: 19px;
}

.footer .container {
  display: flex;
  text-align: start;
  flex-wrap: wrap;
  flex-direction: row;
}
.footer .container > div {
  flex: 0.9;
  margin-top: 38px;
  height: 150px;
}
.footer .container img {
  max-width: 100%;
  height: auto;
}

.footer .container i {
  font-style: normal;
}
.footer .container div:first-of-type {
  color: white;
  font-size: 1.1em;
  line-height: 16px;

  text-transform: uppercase;
  letter-spacing: 0.2em;
  align-items: flex-start;
}

.footer .container div span {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.footer .container div:first-of-type span {
  margin-top: 3px;
}

.footer .container div:last-of-type {
  flex: 2;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.footer .container div i {
  margin-bottom: 20px;
}

.footer .container p {
  display: flex;
  align-items: flex-end;
  padding-bottom: 45px;
}

.footer .container img {
  padding-right: 16px
}

.footer .container div a {
  text-decoration: none;
  color: hsl(0, 0%, 50%);
}

@media screen and (max-width: 768px) {
  .container {
    margin: 0 5%;
  }

  .wrapper {
    width: 100%;
  }

  .header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin-top: 37px;
  }

  .header nav {
    display: none;
  }

  .nav-mobile {
    display: block;
    width: 22px;
    min-height: 20px;
    position: relative;
    z-index: 2;
    overflow: hidden;
  }
  .nav-mobile span {
    width: 30px;
    min-height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    transition: all 0.5s;
  }

  .nav-mobile span:nth-of-type(1) {
    top: calc(50% - 6px);
  }

  .nav-mobile span:nth-of-type(2) {
    top: calc(50%);
  }

  .nav-mobile span:nth-of-type(3) {
    top: calc(50% + 6px);
  }

  .hero-section {
    height: 800px;
  }
  .hero-section .container > div {
    margin-top: 200px;
  }

  .hero-section .container h1 {
    margin-top: 15px;
  }

  .hero-section .container h3 {
    margin-top: 25px;
  }

  .main-section {
    height: 990px;
  }
  .main-section .container div {
    flex-direction: column;
  }

  .main-section .container div p {
    width: 100%;
  }

  .main-section .container h3 {
    margin-top: 45px;
  }

  .main-section .container div button {
    margin-top: 20px;
  }


  .culture-section .container h2 {
    margin-top: 70px;
  }

  .main-section .container div:last-child {
    align-items: center;
  }

  .culture-section .container button {
    margin-top: 80px;

    height: 100px;
    width: 100px;
    font-size: 3em;
  }

  .culture-section .container h3 {
    margin-top: 55px;
  }

  .footer {
    height: 300px;
  }
  .footer .container {
    flex-direction: column;
    text-align: center;
  }

  .footer .container > div {
    flex: 1;
    margin-top: 55px;
    height: auto;
  }

  .footer .container div:last-of-type {
    flex: 1;
    margin-top: 30px;
  }

  .footer .container p {
    padding-bottom: 20px;
    justify-content: center
  }

  .footer .container div i {
    margin-bottom: 10px;
  }
}
